# Flutter/Dart
.dart_tool/
.packages
pubspec.lock
build/
.flutter-plugins
.flutter-plugins-dependencies
.flutter-versions
.flutter-ephemeral/

# VS Code
.vscode/

# Visual Studio
*.suo
*.user
*.userosscache
*.sln.docstates
x64/
x86/
*.[Cc]ache
!*.[Cc]ache/

# MacOS
.DS_Store

# Firebase secrets (optional, depending on project)
# google-services.json
# GoogleService-Info.plist